<%= render partial: 'projects/edit_project_nav' %>

<h2>Publish Targets Enabled For This Project</h2>

<%= form_for(@project, url: project_publish_targets_path(@project), method: 'patch') do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% all_publish_target_pids = DigitalObject::PublishTarget.all_pids %>
  <% enabled_publish_target_pids = @project.enabled_publish_target_pids %>
  <% pids_to_display_labels = DigitalObject::Base.titles_for_pids(all_publish_target_pids, nil) %>
  <%= f.select(:enabled_publish_target_pids, options_for_select(Hash[all_publish_target_pids.map{|pid| [pids_to_display_labels[pid], pid]}].sort_by{|label, pid| label}, enabled_publish_target_pids), {}, {:multiple => true, :class => "chosen-select", 'data-placeholder': 'Type or click to select a publish target...'}) %>
  <br /><br />
  <div class="actions">
    <%= f.submit('Save', class: 'btn btn-primary') %>
  </div>

<% end %>
