<p id="notice"><%= notice %></p>

<p>
  <strong>Display label:</strong>
  <%= @dynamic_field_group_category.display_label %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @dynamic_field_group_category.sort_order %>
</p>

<%= link_to 'Edit', edit_dynamic_field_group_category_path(@dynamic_field_group_category) %> |
<%= link_to 'Back', dynamic_field_group_categories_path %>
