<%
  //Passed params:
  //
  //digitalObject
  //orderedChildDigitalObjects
  //tooManyToShow
%>
<h1><%= digitalObject.digital_object_type['display_label'] %>: <%- digitalObject.getTitle() %></h1>
<strong><%= (digitalObject.getProjects().length > 1 ? 'Projects' : 'Project') + ':' %></strong> <%= $.map(digitalObject.getProjects(), function(project){return project['display_label']}).join(', ') %>
<br />
<strong>PID:</strong> <%= digitalObject.getPid() %>
<hr />

<h2 class="manage-children-heading">Manage Child Digital Objects</h2>

<p><%= orderedChildDigitalObjects.length %> Children Total</p>

<% if (tooManyToShow) { %>
  Too many child object to show.
  <br /><br />
  Total: <%= digitalObject.getOrderedChildDigitalObjectPids().length %>
<% } else if (orderedChildDigitalObjects.length == 0) { %>
  This object has no child Digital Assets.
<% } else { %>

  <form class="ordered-child-editor-form">
  <% orderedChildDigitalObjects.forEach(function(childDigitalObject){ %>
    <div class="ordered-child shadow-box" data-pid="<%= childDigitalObject.getPid() %>">
      <div class="row">
        <div class="col-xs-2">
          <button class="btn btn-default btn-sm shift-child-up"><span class="glyphicon glyphicon-arrow-up"></span></button>
          <br />
          <button class="btn btn-default btn-sm shift-child-down"><span class="glyphicon glyphicon-arrow-down"></span></button>
        </div>
        <div class="col-xs-8">
            <strong>PID:</strong> <a href="#<%= Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: childDigitalObject.getPid()}) %>"><%= childDigitalObject.getPid() %></a>
            <br />
            <strong>Title: <%- childDigitalObject.getTitle() %></strong>
            <br />
            <span class="label label-default"><%= childDigitalObject.getDigitalObjectTypeDisplayLabel() %></span>
        </div>
        <div class="col-xs-2">
          <% if ( childDigitalObject.hasImage()) { %>
            <img class="img-responsive thumbnail pull-right" src="<%= childDigitalObject.getImageUrl('scaled', 256) %>" title="<%= childDigitalObject.getPid() %>" />
          <% } %>
        </div>
      </div>
    </div>
  <% }); %>

  <div class="actions">
    <input type="submit" class="btn btn-primary pull-right editor-submit-button" value="Save" />
    <div class="clearfix"></div>
  </div>
  </form>

<% } %>
