<%
  //Passed params:
  //
  //digitalObject
  //mode
  //fieldsets
%>
<div class="digital-object-editor-header">
  <h1 class="digital-object-title"><%= digitalObject.digital_object_type['display_label'] %>: <%- digitalObject.getTitle() %></h1>
  <div class="row">
    <div class="col-md-8">

      <div class="form-horizontal digital-object-summary">

        <div class="form-group">
          <label class="col-sm-3">
            Project:
          </label>
          <div class="col-sm-9">
            <%= digitalObject.getProject()['display_label'] %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3">
            PID:
          </label>
          <div class="col-sm-9">
            <%= digitalObject.getPid() || '- Assigned After Save -' %>
          </div>
        </div>
	
        <div class="form-group">
          <label class="col-sm-3">
            DOI:
          </label>
          <div class="col-sm-9">
            <%= digitalObject.getDoi() == null ? 'Unavailable': digitalObject.getDoi() %>
          </div>
        </div>
	
        <% var parentDigitalObjectPids = digitalObject.getParentDigitalObjectPids() %>
        <% if (parentDigitalObjectPids.length > 0) { %>
          <div class="form-group">
            <label class="col-sm-3">
              <%= parentDigitalObjectPids.length == 1 ? 'Parent' : 'Parents'  %>
            </label>
            <div class="col-sm-9">
              <%= $.map(parentDigitalObjectPids, function(pid){return '<a href="#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: pid}) + '">' + pid + '</a>';}).join(', ') %>
            </div>
          </div>
        <% } %>

        <% if ( ! digitalObject.isNewRecord() ) { %>

          <% var numberOfChildObjects = digitalObject.getOrderedChildDigitalObjectPids().length %>
          <% if (numberOfChildObjects > 0) { %>
            <div class="form-group">
              <label class="col-sm-3">
                Child Objects:
              </label>
              <div class="col-sm-9">
                <a href="#<%= Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'manage_children', pid: digitalObject.getPid()}) %>">
                  <%= numberOfChildObjects + ' ' + (numberOfChildObjects == 1 ? 'Child Object' : 'Child Objects') %> &raquo;
                </a>
              </div>
            </div>
          <% } %>

          <% if (digitalObject.getState() != 'A') { %>
            <div class="form-group">
              <label class="col-sm-3">
                State:
              </label>
              <div class="col-sm-9">
                <strong class="<%= digitalObject.getState() == 'D' ? 'text-danger' : 'text-info' %>"><%= digitalObject.getStateAsDisplayLabel() %></strong>
                <% if(mode == 'edit') { %>
                  (<a href="#" class="undelete-digital-object-button" data-pid="<%= digitalObject.getPid() %>">Restore</a>)
                <% } %>
              </div>
            </div>
          <% } %>

          <div class="form-group">
            <label class="col-sm-3">
              View As:
            </label>
            <div class="col-sm-9">
              <a href="<%= digitalObject.getJsonViewUrl() %>" target="_blank">JSON</a>,
              <a href="<%= digitalObject.getModsXmlViewUrl() %>" target="_blank">MODS XML</a>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3">
              <%= digitalObject.digital_object_type['display_label'] %> History:
            </label>
            <div class="col-sm-9">
              <a href="#history" data-toggle="collapse">Creation / Modification Info</a>
            </div>
          </div>

          <div id="history" class="collapse">
            <div class="form-group">
              <label class="col-sm-3">
                Created By:
              </label>
              <div class="col-sm-9">
                <%= digitalObject.getCreatedBy() || '- Assigned After Save -' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3">
                On:
              </label>
              <div class="col-sm-9">
                <%= digitalObject.getCreated() || '- Assigned After Save -' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3">
                Last Modified By:
              </label>
              <div class="col-sm-9">
                <%= digitalObject.getModifiedBy() || '- Assigned After Save -' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3">
                On:
              </label>
              <div class="col-sm-9">
                <%= digitalObject.getModified() || '- Assigned After Save -' %>
              </div>
            </div>
          </div>

          <% if ( digitalObject instanceof Hyacinth.DigitalObjectsApp.DigitalObject.Asset) { %>

            <div class="form-group">
              <label class="col-sm-3">
                Original Filename:
              </label>
              <div class="col-sm-9">
                <%= digitalObject.getOriginalFilename() %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3">
                Original File Path:
              </label>
              <div class="col-sm-9">
                <% var originalFilePath = digitalObject.getOriginalFilePath() %>
                <%= originalFilePath.length > 0 ? originalFilePath : 'n/a' %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3">
                Download:
              </label>
              <div class="col-sm-9">
                <a href="<%= Hyacinth.getLocationOrigin() + '/digital_objects/' + digitalObject.getPid() + '/download' %>" target="_blank"><span class="glyphicon glyphicon-download"></span> Download</a>
                (<%= digitalObject.getFileSizeString() %>) [<%= digitalObject.getFileSizeInBytes() %> bytes]
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3">
                Filesystem Location:
              </label>
              <div class="col-sm-9">
                <%= digitalObject.getFilesystemLocation() %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3">
                Checksum:
              </label>
              <div class="col-sm-9">
                <%= digitalObject.getFileChecksum() %>
              </div>
            </div>
          <% } %>

        <% } %>

      </div>

    </div>
    <div class="col-md-4">

      <% if (digitalObject instanceof Hyacinth.DigitalObjectsApp.DigitalObject.Asset) { %>
        <div class="thumbnail aligncenter child-digital-object-preview">
          <h4 class="preview-heading">Asset</h4>
          <img class="img-responsive thumbnail" src="<%= Hyacinth.DigitalObjectsApp.DigitalObject.Base.getImageUrl(digitalObject.getPid(), 'scaled', 256) %>" title="<%= digitalObject.getPid() %>" />
          <div class="caption">
            <% if (digitalObject.getDcType() == 'StillImage') { %>
              <a href="#" class="btn btn-block btn-primary btn-xs" onclick="Hyacinth.DigitalObjectsApp.DigitalObject.Base.showMediaViewModal('<%= digitalObject.getPid() %>'); return false;">View Zoomable Image</a>
              <% if (mode == 'show') { %>
                <br />
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Change Image Rotation <span class="caret"></span>
                  </button>
                  <ul class="rotate-dropdown-options dropdown-menu" role="menu">
                    <li><a href="#" data-rotate-by="90">Rotate 90˚ clockwise</a></li>
                    <li><a href="#" data-rotate-by="180">Rotate 180˚ clockwise</a></li>
                    <li><a href="#" data-rotate-by="270">Rotate 270˚ clockwise</a></li>
                  </ul>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      <% } else if ( digitalObject.getOrderedChildDigitalObjectPids().length > 0 ) { %>
        <% var orderedChildDigitalObjectPids = digitalObject.getOrderedChildDigitalObjectPids() %>
        <div class="thumbnail aligncenter child-digital-object-preview">
          <h4 class="preview-heading">Child Digital Objects</h4>
          <table>
            <tr>
              <td class="<%= orderedChildDigitalObjectPids.length > 1 ? 'col-xs-6' : 'col-xs-12 aligncenter' %>">
                <a href="#<%= Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: orderedChildDigitalObjectPids[0]}) %>">
                  <img class="img-responsive thumbnail" src="<%= Hyacinth.DigitalObjectsApp.DigitalObject.Base.getImageUrl(orderedChildDigitalObjectPids[0], 'scaled', 256) %>" title="<%= orderedChildDigitalObjectPids[0] %>" />
                </a>
              </td>
              <% if (orderedChildDigitalObjectPids.length > 1) { %>
                <td class="col-xs-6">
                  <a href="#<%= Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: orderedChildDigitalObjectPids[1]}) %>">
                    <img class="img-responsive thumbnail" src="<%= Hyacinth.DigitalObjectsApp.DigitalObject.Base.getImageUrl(orderedChildDigitalObjectPids[1], 'scaled', 256) %>" title="<%= orderedChildDigitalObjectPids[1] %>" />
                  </a>
                </td>
              <% } %>
            </tr>
          </table>
          <div class="clearfix"></div>
          <div class="caption">
            <!--
            TODO: Create view page for all child assets
            <a href="#<%= Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'view_children', pid: digitalObject.getPid()}) %>"
            class="btn btn-block btn-default btn-xs">View All (<%= orderedChildDigitalObjectPids.length %>) &raquo;</a>
            -->
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
<hr />
<div class="form-horizontal">
  <% if (mode == 'edit' && fieldsets.length > 0) { %>
    <div class="form-group">
      <label class="col-sm-2 control-label alignleft">Editing View</label>
      <div class="col-sm-10">
        <% var lastSelectedFieldset = Hyacinth.readCookie('last_selected_fieldset'); %>
        <select class="fieldset-selector form-control input-sm">
          <option <%= lastSelectedFieldset == 'all-fieldsets' ? 'selected="selected"' : '' %> value="all-fieldsets">All Fields</option>
          <% for (var i = 0; i < fieldsets.length; i++) { %>
            <option value="fieldset-<%= fieldsets[i]['id'] %>" <%= lastSelectedFieldset == ('fieldset-' + fieldsets[i]['id']) ? 'selected="selected"' : '' %>><%= fieldsets[i]['display_label'] %></option>
          <% } %>
        </select>
      </div>
    </div>
    <hr />
  <% } %>
</div>
