<%
  //Passed params:
  //
  //dynamicFieldHierarchy
  //mode
  //dynamicFieldIdsToEnabledDynamicFields
  //digitalObject
  //allowedPublishTargets
  //disallowNonDescriptionFieldEditing
  //showPublishButton
%>
<form class="editor-form">
  <div class="btn-group dropup form-navigation-dropup">
    <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Jump <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
    </ul>
  </div>

  <div class="errors"></div>
  <div class="dynamic_field_group_content">
    <% for (var i = 0; i < dynamicFieldHierarchy.length; i++) { %>
      <% // Iterate through categories %>
      <% var dynamicFieldGroupCategory = dynamicFieldHierarchy[i] %>
      <% if (dynamicFieldGroupCategory['dynamic_field_groups'].length > 0) { %>
        <h2 class="editor-form-header dynamic_field_group_category_label"><%= dynamicFieldGroupCategory['display_label'] %></h2>
        <% for (var j = 0; j < dynamicFieldGroupCategory['dynamic_field_groups'].length; j++) { %>
          <% // Iterate through top level dynamic_field_groups %>
          <%= Hyacinth.DigitalObjectsApp.DigitalObjectEditor.recursivelyRenderDynamicFieldOrDynamicFieldGroup(dynamicFieldGroupCategory['dynamic_field_groups'][j], mode, dynamicFieldIdsToEnabledDynamicFields) %>
        <% } %>
      <% } %>
    <% } %>
  </div>

  <h2 class="editor-form-header">Identifiers</h2>
  <div class="identifiers">
    <% var identifiers = digitalObject.identifiers.length < 1 ? digitalObject.identifiers.concat([""]) : digitalObject.identifiers; %>
    <% identifiers.forEach(function(identifier){ %>
      <% if (mode == 'edit' && !disallowNonDescriptionFieldEditing) { %>
        <div class="identifier input-group">
          <input type="text" name="identifier" value="<%- identifier %>" class="form-control input-sm tabable">
          <span class="input-group-btn">
            <button type="button" class="remove-identifier btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
            <button type="button" class="add-identifier btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </div>
      <% } else { %>
        <div><%= identifier %></div>
      <% } %>
    <% }); %>
  </div>

  <% if (digitalObject.hasRestrictions() && !disallowNonDescriptionFieldEditing) { %>
    <h2 class="editor-form-header">Restrictions</h2>
    <div class="restrictions">
        <% if (mode == 'edit') { %>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="restricted-size-image-checkbox" <%= digitalObject.isRestrictedSizeImage() ? 'checked="checked"' : '' %> /> Restricted Size Image
            </label>
            <br />
            <label>
              <input type="checkbox" id="restricted-onsite-checkbox" <%= digitalObject.isRestrictedOnsite() ? 'checked="checked"' : '' %> /> Restricted Onsite
            </label>
          </div>
        <% } else { %>
          <%
          var restrictions = []
          if(digitalObject.isRestrictedSizeImage()) {
            restrictions.push('Restricted Size Image');
          }
          if(digitalObject.isRestrictedOnsite()) {
            restrictions.push('Restricted Onsite');
          }
          if(restrictions.length > 0) {
            for(var i = 0; i < restrictions.length; i++) {
              if(i > 0) {
                %><br /><%
              }
              %>&check; <%= restrictions[i] %><%
            }
          } else {
            %>None<%
          }
          %>
        <% } %>
    </div>
  <% } %>

  <% if ( digitalObject.publish_targets.length > 0 || (mode == 'edit' && !disallowNonDescriptionFieldEditing && allowedPublishTargets.length > 0) ) { %>
    <h2 class="editor-form-header">Publish Targets</h2>
    <div class="publish-targets">

      <% activePublishTargetPids = _.map(digitalObject.publish_targets, function(pub_tar){ return pub_tar['pid']; }); %>
      <%
        var activeAndAllowedPublishTargets = digitalObject.publish_targets.concat(allowedPublishTargets);
        var uniqueSortedActiveAndAllowedPublishTargets = [];
        _.sortBy(activeAndAllowedPublishTargets, function(publishTarget){
          //Sort by display_label
          return publishTarget['display_label'];
        }).forEach(function(publishTarget){
          //Collect only unique publish targets
          if (_.find(uniqueSortedActiveAndAllowedPublishTargets, function(pubTar){ return pubTar['pid'] == publishTarget['pid']; }) === undefined) {
            uniqueSortedActiveAndAllowedPublishTargets.push(publishTarget);
          }
        });
      %>

      <% uniqueSortedActiveAndAllowedPublishTargets.forEach(function(publishTarget){ %>
        <% if (mode == 'edit' && showPublishButton) { %>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="publish-target-checkbox" value="<%= publishTarget['pid'] %>" <%= activePublishTargetPids.indexOf(publishTarget['pid']) > -1 ? 'checked="checked"' : '' %> /> <%= publishTarget['display_label'] %>
            </label>
          </div>
        <% } else { %>
          <% if(activePublishTargetPids.indexOf(publishTarget['pid']) > -1) { %>
            <div>
              &check; <%= publishTarget['display_label'] %>
            </div>
          <% } %>
        <% } %>
      <% }); %>
    </div>
  <% } %>

  <hr />

  <% if (mode == 'edit' && !disallowNonDescriptionFieldEditing && digitalObject.getDoi() == null) { %>
    <div class="alignright">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="mint-reserved-doi-checkbox" /> Mint Reserved DOI
        </label>
      </div>
    </div>
  <% } %>

  <% if (mode == 'edit') { %>
    <div class="alignright">
      <p>
        <% if (digitalObject.getPid()) { %>
          <a href="<%= '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: digitalObject.getPid()}) %>" onclick="return confirm(Hyacinth.Text.unsavedChangesMessage);" class="btn btn-danger">Cancel</a>
        <% } else { %>
          <a href="<%= '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'index'}) %>" onclick="return confirm(Hyacinth.Text.unsavedChangesMessage);" class="btn btn-danger">Cancel</a>
        <% } %>
        <input type="submit" class="btn btn-primary editor-submit-button" value="Save" />
        <div class="clearfix"></div>
      </p>
      <p>
      <% if(showPublishButton) { %>
      <input type="submit" class="btn btn-primary editor-submit-and-publish-button" value="Save And Publish" />
      <% } %>
      <div class="clearfix"></div>
      </p>
    </div>
  <% } %>

</form>
