<%
  //Passed params:
  //
  //dynamicFieldHierarchy
  //mode
  //dynamicFieldIdsToEnabledDynamicFields
  //digitalObject
%>
<form class="editor-form">
  <div class="btn-group dropup form-navigation-dropup">
    <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Jump <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
    </ul>
  </div>

  <div class="errors"></div>
  <div class="dynamic_field_group_content">
    <% for (var i = 0; i < dynamicFieldHierarchy.length; i++) { %>
      <% // Iterate through categories %>
      <% var dynamicFieldGroupCategory = dynamicFieldHierarchy[i] %>
      <% if (dynamicFieldGroupCategory['dynamic_field_groups'].length > 0) { %>
        <h2 class="dynamic_field_group_category_label"><%= dynamicFieldGroupCategory['display_label'] %></h2>
        <% for (var j = 0; j < dynamicFieldGroupCategory['dynamic_field_groups'].length; j++) { %>
          <% // Iterate through top level dynamic_field_groups %>
          <%= Hyacinth.DigitalObjectsApp.DigitalObjectEditor.recursivelyRenderDynamicFieldOrDynamicFieldGroup(dynamicFieldGroupCategory['dynamic_field_groups'][j], mode, dynamicFieldIdsToEnabledDynamicFields) %>
        <% } %>
      <% } %>
    <% } %>
  </div>

  <hr />
  <h2>Publish To:</h2>
  <div class="publish-targets">
    <% activePublishTargets = _.map(digitalObject.publish_targets, function(pub_tar){ return pub_tar['pid']; }); %>
    <% digitalObject.allowed_publish_targets.forEach(function(allowedPublishTarget){ %>
      <input type="checkbox" value="<%= allowedPublishTarget['pid'] %>" <%= activePublishTargets.indexOf(allowedPublishTarget['pid']) > -1 ? 'checked="checked"' : '' %> /> <%= allowedPublishTarget['display_label'] %>
    <% }); %>
  </div>

  <% if (mode == 'edit') { %>
    <div class="alignright">
      <hr />
      <p>
        <% if (Hyacinth.DigitalObjectsApp.params['action'] == 'new') { %>
          <a href="<%= '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'index'}) %>" onclick="return confirm(Hyacinth.Text.unsavedChangesMessage);" class="btn btn-danger">Cancel</a>
        <% } else { %>
          <a href="<%= '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: Hyacinth.DigitalObjectsApp.params['pid']}) %>" onclick="return confirm(Hyacinth.Text.unsavedChangesMessage);" class="btn btn-danger">Cancel</a>
        <% } %>
        <input type="submit" class="btn btn-primary editor-submit-button" value="Save" />
        <div class="clearfix"></div>
      </p>
      <p>
      <input type="submit" class="btn btn-primary editor-submit-and-publish-button" value="Save And Publish" />
      <div class="clearfix"></div>
      </p>
    </div>
  <% } %>

</form>
