<%
  //Passed params:
  //
  //searchResponse
%>

<% if(Hyacinth.DigitalObjectsApp.DigitalObjectSearch.facetsExistInParams() || (searchResponse['facets'].length > 0 && $.grep(searchResponse['facets'], function(facet){return facet.values.length > 0; }).length > 0)) { %>
  <h3 class="facet-heading">Refine Your Search</h3>
  <% $.each(searchResponse['facets'], function(i, facet){ %>
    <% if (facet['values'].length > 0) { %>
      <div class="facet-group">
        <div class="facet-group-heading">
          <a href="#" class="toggle-facet-view">
            <span class="facet-display-label"><%= facet['display_label'] %></span>
            <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-chevron-right"></span></button>
          </a>
        </div>
        <div class="facet-value-list <%= Hyacinth.DigitalObjectsApp.DigitalObjectSearch.facetFieldExistsInParams(facet['facet_field_name']) ? '' : 'collapsed' %>">
          <% $.each(facet['values'], function(j, value_and_count){ %>
            <% var facetIsActive = Hyacinth.DigitalObjectsApp.DigitalObjectSearch.facetValueExistsInParams(facet['facet_field_name'], value_and_count['value']) %>
            <div>
              <span class="count label label-info pull-right"><%= value_and_count['count'] %></span>
              <% if (facetIsActive) { %>
                <%- value_and_count['value'] %> <a href="#" class="remove-facet-link" data-facet-field-name="<%= facet['facet_field_name'] %>" data-uri-encoded-value="<%= encodeURIComponent(value_and_count['value']) %>"><span class="glyphicon glyphicon-remove"></span></a>
              <% } else { %>
                <a href="#" class="add-facet-link" data-facet-field-name="<%= facet['facet_field_name'] %>" data-uri-encoded-value="<%= encodeURIComponent(value_and_count['value']) %>"><%- value_and_count['value'] %></a>
              <% } %>
            </div>
          <% }); %>
          <% if (facet['more_available']) { %>
            <div><a class="show-facet-selector btn btn-default btn-xs" data-facet-field-name="<%- facet['facet_field_name'] %>" data-facet-display-label="<%- facet['display_label'] %>">More &raquo;</a></div>
          <% } %>
        </div>
        <div class="clearfix"></div>
      </div>
    <% } %>
  <% }); %>
<% } %>

<h3>Custom Filter</h3>

<form class="custom-filter-form">

  <div class="row">
    <div class="col-xs-12">
      <select class="form-control input-sm custom_filter_field" name="custom_filter_field">
        <option value="">- Select A Field -</option>
        <option disabled="disabled">- Core Fields -</option>
        <option value="original_file_path_sim">Original File Path</options>
        <option value="sort_title_si">Title (Sort Portion)</options>
        <option disabled="disabled">- Dynamic Fields -</option>
        <% $.each(searchResponse['single_field_searchable_fields'],function(dynamic_field_string_key, standalone_field_label){ %>
          <option value="<%= 'df_' + dynamic_field_string_key + '_sim' %>"><%= standalone_field_label.length > 0 ? standalone_field_label : dynamic_field_string_key %></option>
        <% }) %>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <select name="custom_filter_operator" class="form-control input-sm">
        <option value="present">Is Present</option>
        <option value="absent">Is Absent</option>
        <option value="equals">Equals</option>
        <option value="does_not_equal">Does Not Equal</option>
        <option value="contains">Contains</option>
        <option value="starts_with">Starts With</option>
      </select>
    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control input-sm" name="custom_filter_value" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-ok"></span> Apply Filter</button>
    </div>
  </div>
</div>
