<%
  //Passed params:
  //
  //searchResponse
%>

<div class="query-constraints">
  <% $.each(searchResponse['facets'], function(i, facet){ %>
    <% if(Hyacinth.DigitalObjectsApp.DigitalObjectSearch.facetsExistInParams()) { %>
      <% Hyacinth.DigitalObjectsApp.DigitalObjectSearch.getFacetFieldValuesFromParams(facet['facet_field_name']).forEach(function(facetValue){ %>
        <a href="#" class="remove-facet-link btn btn-default btn-xs" data-facet-field-name="<%= facet['facet_field_name'] %>" data-uri-encoded-value="<%= encodeURIComponent(facetValue) %>"><%= facet['display_label'] %> &rsaquo; <%- facetValue %> <span class="glyphicon glyphicon-remove"></span></a>
      <% }); %>
    <% } %>
  <% }); %>

  <% if (Hyacinth.DigitalObjectsApp.params['search'] && Hyacinth.DigitalObjectsApp.params['search']['fq']) { %>
    <% $.each(Hyacinth.DigitalObjectsApp.params['search']['fq'], function(filterSolrStringKey, values){ %>
      <% values.forEach(function(operatorAndValue){ %>
        <% $.each(operatorAndValue, function(operator, filterValue){ %>
          <a href="#" class="remove-filter-link btn btn-default btn-xs"
          data-filter-field-name="<%= filterSolrStringKey %>"
          data-uri-encoded-operator="<%= encodeURIComponent(operator) %>"
          data-uri-encoded-value="<%= encodeURIComponent(filterValue) %>">
          <% filterSolrStringKeyAsDynamicFieldStringKey = filterSolrStringKey.replace(/^df_/, '').replace(/_sim$/, '') %>
          <%= searchResponse['single_field_searchable_fields'][filterSolrStringKeyAsDynamicFieldStringKey] || filterSolrStringKey %>
          &rsaquo;
          <strong><%- operator %></strong>
          <%= filterValue.length > 0 ? '&rsaquo;' : '' %>
          <%- filterValue %>
          <span class="glyphicon glyphicon-remove"></span>
          </a>
        <% }); %>
      <% }); %>
    <% }); %>
  <% } %>
</div>
