<h1><%= @term['type'].capitalize %> Term: <%= @term['value'] %></h1>

<div class="row">
  <div class="col-md-3"><label>Controlled Vocabulary</label></div>
  <div class="col-md-9"><%= @controlled_vocabulary.display_label %></div>
</div>

<div class="row">
  <div class="col-md-3"><label>Type</label></div>
  <div class="col-md-9"><%= @term['type'] %></div>
</div>

<div class="row">
  <div class="col-md-3"><label>Value</label></div>
  <div class="col-md-9"><%= @term['value'] %></div>
</div>

<div class="row">
  <div class="col-md-3"><label>URI</label></div>
  <div class="col-md-9"><%= @term['uri'] %></div>
</div>

<% @term.each do |key, val| %>
  <% next if ['uri', 'value', 'vocabulary_string_key', 'type'].include?(key) %>
  
  <% display_value = (TERM_ADDITIONAL_FIELDS[@controlled_vocabulary.string_key] && TERM_ADDITIONAL_FIELDS[@controlled_vocabulary.string_key][key]) ? TERM_ADDITIONAL_FIELDS[@controlled_vocabulary.string_key][key]['display_label'] :  key + ' (no friendly label)' %>
  
  <div class="row">
    <div class="col-md-3"><label><%= display_value %></label></div>
    <div class="col-md-9"><%= val %></div>
  </div>
<% end %>