<%= dynamic_field_breadcrumbs(@dynamic_field_group, @dynamic_field_group.new_record?) %>

<% if @dynamic_field_group.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@dynamic_field_group.errors.count, "error") %> prohibited this dynamic_field_group from being saved:</h2>
    <ul>
    <% @dynamic_field_group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-7">
    <%= form_for(@dynamic_field_group, url: shift_child_field_or_group_dynamic_field_group_path, method: 'patch') do |f| %>
      <%= f.hidden_field :parent_dynamic_field_group_id %>
      <div class="field">
        <%= f.label :string_key, 'String key (cannot be changed)' %><br>
        <%= f.text_field :string_key, {class: 'form-control', disabled: ( ! @dynamic_field_group.new_record? )} %>
      </div>
      <div class="field">
        <%= f.label :display_label %><br>
        <%= f.text_field :display_label, {class: 'form-control'} %>
      </div>
      <% unless @dynamic_field_group.parent_dynamic_field_group.present? %>
        <% # dynamic_field_group_category only applies to top level dynamic field groups %>
        <div class="field">
          <%= f.label :dynamic_field_group_category_id %><br>
          <%= f.collection_select(:dynamic_field_group_category_id, DynamicFieldGroupCategory.all, :id, :display_label, {}, {class: 'form-control'}) %>
        </div>
      <% end %>
      <div class="field checkbox">
        <%= f.label(:is_repeatable, (f.check_box(:is_repeatable)).html_safe + ' Repeatable?') %>
      </div>
      <div class="field">
        <%= f.label :xml_translation %><br>
        <%= f.text_area :xml_translation, {class: 'form-control', id: 'xml-translation-editor-textarea', cols: 12} %>
        <div id="xml-translation-editor" class="json-editor"></div>
      </div>
      <div class="actions">
        <%= f.submit('Save', class: 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
  <div class="col-md-5">
    <div class="well">
      <h2>Child Fields and Field Groups</h2>
      <% if @child_dynamic_fields_and_dynamic_field_groups.present? %>
        <table class="table table-bordered table-striped">
          <% @child_dynamic_fields_and_dynamic_field_groups.each do |dynamic_field_or_dynamic_field_group| %>
            <tr>
              <td class="col-sm-7">
                <%= dynamic_field_or_dynamic_field_group.string_key %> <%= '<span class="label label-default pull-right">Group</span>'.html_safe if dynamic_field_or_dynamic_field_group.is_a?(DynamicFieldGroup) %>
              </td>
              <td class="col-sm-2 aligncenter">
                <%= link_to 'Edit', (dynamic_field_or_dynamic_field_group.is_a?(DynamicField) ? edit_dynamic_field_path(dynamic_field_or_dynamic_field_group) : edit_dynamic_field_group_path(dynamic_field_or_dynamic_field_group)) %>
              </td>
              <% unless @child_dynamic_fields_and_dynamic_field_groups.length == 1 %>
                <td class="col-sm-3 aligncenter">
                  <%= form_for @dynamic_field_group, url: {action: "shift_child_field_or_group"} do |f| %>
                    <%= hidden_field_tag 'dynamic_field_or_dynamic_field_group_string_key', dynamic_field_or_dynamic_field_group.string_key %>
                    <%= f.button '<span class="glyphicon glyphicon glyphicon-arrow-down"></span>'.html_safe, type:'submit', name: 'direction', value: 'down', class: 'btn btn-default btn-xs' %>
                    <%= f.button '<span class="glyphicon glyphicon glyphicon-arrow-up"></span>'.html_safe, type:'submit', name: 'direction', value: 'up', class: 'btn btn-default btn-xs' %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>- None -</p>
      <% end %>
      <% unless @dynamic_field_group.new_record? %>
        <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Child Field'.html_safe, new_dynamic_field_path(parent_dynamic_field_group_id: @dynamic_field_group), class: 'btn btn-default btn-sm' %>
        <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Child Field Group'.html_safe, new_dynamic_field_group_path(parent_dynamic_field_group_id: @dynamic_field_group), class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
    <% unless @dynamic_field_group.new_record? %>
    <div>
      <%= link_to 'Permanently Delete This Dynamic Field Group', @dynamic_field_group, class: 'btn btn-danger btn-sm btn-block', method: :delete, data: { confirm: 'Are you sure you want to permanently delete this Dynamic Field Group?  This action cannot be undone.' } %>
    </div>
    <% end %>
  </div>
</div>