<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <% if @user.new_record? %>
      <%= f.text_field :email, :class => 'form-control' %>
    <% else %>
      <%= @user.email %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class => 'form-control' %>
  </div>
  <div class="field checkbox">
    <%= f.label(:is_admin, (f.check_box(:is_admin)).html_safe + 'Is Admin') %><br>
  </div>
  <div class="field checkbox">
    <%= f.label(:can_manage_all_controlled_vocabularies, (f.check_box(:can_manage_all_controlled_vocabularies)).html_safe + 'Can Manage All Controlled Vocabularies') %><br>
  </div>
  <div class="field checkbox">
    <%= f.label(:is_active, (f.check_box(:is_active)).html_safe + 'Is Active') %><br>
  </div>
    <%= f.label :api_key, 'Set API Key' %><br>
  <div class="field checkbox">
    <%= f.label(:generate_new_api_key, (check_box_tag('user[generate_new_api_key]')).html_safe + 'Generate a new API key') %><br>
    <div class="alert alert-info">
      <%= @user.api_key_digest.nil? ? 'An API key is not currently set for this user.' : 'An API key was previously set for this user.  Generating a new key will replace the old one.' %>
    </div>
  </div>

  <%= f.submit(:class => 'btn btn-primary btn-sm', :value => (@user.new_record? ? 'Create New User' : (params[:change_password] ? 'Change Password' : 'Update User'))) %>
  <%
    if @user.new_record?
      %><%=
      link_to('Cancel New User Creation',
        users_path, {
          :class => 'btn btn-danger btn-sm',
          data: { confirm: 'Are you sure you want to cancel this new user creation?' },
        })
      %><%
    else
      if params[:change_password]
        %><%=
        link_to('Cancel', edit_user_path(@user), {
            :class => 'btn btn-danger btn-sm'
          })
        %><%
      else
        %><%=
        link_to('Abandon Edits', user_path(@user), {
            :class => 'btn btn-danger btn-sm',
            data: { confirm: 'Are you sure you want to abandon these edits?'} ,
          })
        %><%
      end
    end
  %>

<% end %>
