<h1 class="page-title">User: <%= @user.full_name %></h1>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Can Manage Controlled Vocabularies?</strong>
  <%= @user.can_manage_all_controlled_vocabularies? %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @user.is_active? %>
</p>

<p>
  <strong>API Key:</strong>
  <%= @user.api_key_digest.present? ? 'Yes' : 'No API key has been created for this user.' %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
