<%= form_for(@csv_export) do |f| %>
  <% if @csv_export.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@csv_export.errors.count, "error") %> prohibited this csv_export from being saved:</h2>

      <ul>
      <% @csv_export.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :search_params %><br>
    <%= f.text_area :search_params %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :path_to_csv_file %><br>
    <%= f.text_area :path_to_csv_file %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
