<%= paginate @csv_exports %>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Export ID</th>
      <th>Search params</th>
      <th>User</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Number of Records Processed</th>
      <th>Download</th>
      <th>Delete?</th>
    </tr>
  </thead>

  <tbody>
    <% if @csv_exports.blank? %>
      <tr><td colspan="7">There are currently no CSV Exports.</td></tr>
    <% else %>
      <% @csv_exports.each do |csv_export| %>
        <tr <%= (params[:highlight] && params[:highlight] == csv_export.id.to_s) ? 'class="info"'.html_safe : '' %>>
          <td><%= csv_export.id %></td>
          <td><%= csv_export.search_params %></td>
          <td><%= csv_export.user.full_name %></td>
          <td><%= csv_export.created_at.in_time_zone(HYACINTH[:time_zone]) %></td>
          <td>
            <%= csv_export.status %>
            <%= csv_export.pending? ? '' : ('<br /><small>(' + csv_export.duration.to_s + ' seconds)</small>').html_safe %>
          </td>
          <td><%= csv_export.number_of_records_processed %></td>
          <td><%= csv_export.success? ? link_to('Download', download_csv_export_path(csv_export)) : 'pending' %></td>
          <td><%= true ? link_to('Delete', csv_export, method: :delete, data: { confirm: 'Are you sure?' }) : 'pending' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @csv_exports %>
