<p id="notice"><%= notice %></p>

<p>
  <strong>Search params:</strong>
  <%= @csv_export.search_params %>
</p>

<p>
  <strong>User:</strong>
  <%= @csv_export.user %>
</p>

<p>
  <strong>Path to csv file:</strong>
  <%= @csv_export.path_to_csv_file %>
</p>

<p>
  <strong>Status:</strong>
  <%= @csv_export.status %>
</p>

<%= link_to 'Edit', edit_csv_export_path(@csv_export) %> |
<%= link_to 'Back', csv_exports_path %>
