<h1 class="page-title">Project: <%= @project.display_label %></h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li <%= 'class="active"'.html_safe if params[:action] == 'edit' %>><%= link_to 'Core Data', edit_project_path(@project) %></li>
	<% DigitalObjectType.all.each do |digital_object_type| %>
		<li <%= 'class="active"'.html_safe if (params[:action] == 'edit_enabled_dynamic_fields' && @digital_object_type == digital_object_type) %>><%= link_to 'Fields For ' + digital_object_type.display_label.pluralize, edit_enabled_dynamic_fields_path(@project, digital_object_type) %></li>
	<% end %>
	<li <%= 'class="active"'.html_safe if params[:action] == 'edit_project_permissions' %>><%= link_to 'Permissions', edit_project_permissions_path(@project) %></li>
	<li <%= 'class="active"'.html_safe if params[:action] == 'edit_publish_targets' %>><%= link_to 'Publish Targets', edit_project_publish_targets_path(@project) %></li>
	<li <%= 'class="active"'.html_safe if params[:action] == 'fieldsets' %>><%= link_to 'Fieldsets', project_fieldsets_path(@project) %></li>
</ul>
