<%
  //Passed params:
  //
  //digitalObject
  //previousSearchResultPid (may be null)
  //nextSearchResultPid (may be null)
  //totalNumSearchResults (may be null)
%>
<% if(Hyacinth.DigitalObjectsApp.mostRecentSearchParams == null) { %>
  <% Hyacinth.ContextualNav.setNavTitle('&laquo; Digital Objects', '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'index'})) %>
<% } else { %>
  <% Hyacinth.ContextualNav.setNavTitle('&laquo; Back To Search', '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'index', search: Hyacinth.DigitalObjectsApp.mostRecentSearchParams})) %>
<% } %>

<%

var navItems = [];
var hasUpdatePermission = Hyacinth.DigitalObjectsApp.currentUser.hasProjectPermission(digitalObject.getProject()['pid'], 'can_update');
var hasTranscribePermission = Hyacinth.DigitalObjectsApp.currentUser.hasAssignmentPermission(digitalObject, Hyacinth.AssignmentTaskTypes.transcribe);

if (digitalObject.digital_object_type.string_key == 'asset') {
  navItems.push({label: '<span class="glyphicon glyphicon-edit"></span> Transcript', url: '#' +
                 Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                               action: 'manage_transcript',
                                                               pid: Hyacinth.DigitalObjectsApp.params['pid']})});
}

if (digitalObject.digital_object_type.string_key == 'asset' && (digitalObject.getDcType() == 'MovingImage' || digitalObject.getDcType() == 'Sound')) {
  navItems.push({label: '<span class="glyphicon glyphicon-edit"></span> Annotation', url: '#' +
                 Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                               action: 'manage_annotation',
                                                               pid: Hyacinth.DigitalObjectsApp.params['pid']})});

  navItems.push({label: '<span class="glyphicon glyphicon-edit"></span> Synchronized Transcript', url: '#' +
                Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                              action: 'manage_synchronized_transcript',
                                                              pid: Hyacinth.DigitalObjectsApp.params['pid']})});
  navItems.push({label: '<span class="glyphicon glyphicon-edit"></span> Captions', url: '#' +
                Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                              action: 'manage_captions',
                                                              pid: Hyacinth.DigitalObjectsApp.params['pid']})});
}

if (hasUpdatePermission) {

  if (digitalObject.digital_object_type.string_key == 'publish_target') {
    navItems.push({label: 'Publish Target Fields', url: '#' +
                   Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                                 action: 'publish_target_fields',
                                                                 pid: Hyacinth.DigitalObjectsApp.params['pid']})});
  }

  if (digitalObject.digital_object_type.string_key == 'item') {
    if (digitalObject.getOrderedChildDigitalObjectPids().length > 0) {
      navItems.push({label: 'Manage Child Assets', url: '#' +
                     Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                                  action: 'manage_children',
                                                                  pid: Hyacinth.DigitalObjectsApp.params['pid']})});
    }
    navItems.push({label: 'New Child Asset', url: '#' +
                   Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                                 action: 'upload_assets',
                                                                 parent_digital_object_pid: Hyacinth.DigitalObjectsApp.params['pid']})});
  } else if (digitalObject.digital_object_type.string_key == 'group') {
    if (digitalObject.getOrderedChildDigitalObjectPids().length > 0) {
      navItems.push({label: 'Manage Children', url: '#' +
                     Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                                   action: 'manage_children',
                                                                   pid: Hyacinth.DigitalObjectsApp.params['pid']})});
    }
    navItems.push({label: 'New Child', url: '#' +
                   Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                                 action: 'new_setup',
                                                                 project_string_key: digitalObject.getProject()['string_key'],
                                                                 parent_digital_object_pid: Hyacinth.DigitalObjectsApp.params['pid']})});
  }

  navItems.push({label: '<span class="glyphicon glyphicon-edit"></span> Parents', url: '#' +
                 Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                               action: 'manage_parents',
                                                               pid: Hyacinth.DigitalObjectsApp.params['pid']})});

  navItems.push({label: 'Assign This', url: '/assignments/new?assignment[digital_object_pid]=' + Hyacinth.DigitalObjectsApp.params['pid']});

  navItems.push({label: 'Edit', url: '#' +
                 Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects',
                                                               action: 'edit',
                                                               pid: Hyacinth.DigitalObjectsApp.params['pid']})});
}

%>
<% Hyacinth.ContextualNav.setNavItems(navItems); %>

<%
if (Hyacinth.DigitalObjectsApp.mostRecentSearchResult != null && (previousSearchResultPid || nextSearchResultPid || Hyacinth.DigitalObjectsApp.mostRecentSearchResultPid)) {
  %>
  <div class="result-count-and-sort-options">
    <div class="row">
      <% if ( typeof(Hyacinth.DigitalObjectsApp.params['searchResultNumber']) == 'undefined' && Hyacinth.DigitalObjectsApp.mostRecentSearchResultPid != digitalObject.getPid() ) { %>
        <% if (Hyacinth.DigitalObjectsApp.mostRecentSearchResultPid) { %>
          <div class="col-md-12">
            <small><a class="btn btn-link btn-xs" href="<%= '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: Hyacinth.DigitalObjectsApp.mostRecentSearchResultPid, searchResultNumber: Hyacinth.DigitalObjectsApp.mostRecentSearchResult}) %>">&laquo; Back to most recent search result (<%= Hyacinth.DigitalObjectsApp.mostRecentSearchResultPid %>)</a></small>
          </div>
        <% } %>
      <% } else { %>
        <div class="col-md-8">
          <%
          if (totalNumSearchResults) {
            %><small><%= (Hyacinth.DigitalObjectsApp.mostRecentSearchResult + 1) + ' of ' + totalNumSearchResults %></small><%
          }
          %>
        </div>
        <div class="col-md-4 alignright">
          <%
          if(previousSearchResultPid) {
            %><a class="btn btn-default btn-xs show-result-link" href="<%= '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: previousSearchResultPid, searchResultNumber: Hyacinth.DigitalObjectsApp.mostRecentSearchResult - 1}) %>"><span class="glyphicon glyphicon-backward"></span></a><%
          } else {
            %><a class="disabled btn btn-default btn-xs"><span class="glyphicon glyphicon-backward"></span></a><%
          }
          %>

          <%
          if(nextSearchResultPid) {
            %><a class="btn btn-default btn-xs show-result-link" href="<%= '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: nextSearchResultPid, searchResultNumber: Hyacinth.DigitalObjectsApp.mostRecentSearchResult + 1}) %>"><span class="glyphicon glyphicon-forward"></span></a><%
          } else {
            %><a class="disabled btn btn-default btn-xs"><span class="glyphicon glyphicon-forward"></span></a><%
          }
          %>
        </div>
      <% } %>
      <div class="clearfix"></div>
    </div>
  </div>
  <%
}
%>

<div id="digital-object-editor"></div>
