<%
  //Passed params:
  //
  //parentDigitalObject
%>
<% Hyacinth.ContextualNav.setNavTitle('&laquo; Leave Asset Upload', '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: parentDigitalObject.getPid()})); %>
<% Hyacinth.ContextualNav.setNavItems([]); %>


<h1><%= parentDigitalObject.digital_object_type['display_label'] %>: <%- parentDigitalObject.getTitle() %></h1>
<strong><%= (parentDigitalObject.getProjects().length > 1 ? 'Projects' : 'Project') + ':' %></strong> <%= $.map(parentDigitalObject.getProjects(), function(project){return project['display_label']}).join(', ') %>
<br />
<strong>PID:</strong> <%= parentDigitalObject.getPid() %>
<hr />

<h2>Add New Child Assets</h2>
<ul>
  <li>Files will be uploaded <em>immediately</em> after being dropped in the drop zone or selected via dialog.</li>
  <li>The progress indicator below displays upload progress, but additional server-side processing occurs after the upload is complete.</li>
  <li>Single files larger than 1GB must be upload via FTP to the Hyacinth upload directory.</li>
</ul>
<form class="digital-object-asset-upload-form" action="/digital_objects/upload_assets" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="parent_digital_object_pid" value="<%= parentDigitalObject.getPid() %>" />
    <div class="upload-drop-zone aligncenter">
      Click here or drag and drop one or more files
      <br />
      <small>Max size: 2GB</small>
      <input class="asset-upload-file-input" type="file" name="files[]" multiple="">
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="sr-only">0% Complete</span>
      </div>
    </div>

    <!-- The extended global progress state -->
    <div class="extended-progress-info">&nbsp;</div>

    <h3>Uploaded Files Will Appear Below Here When Your Upload Is Complete</h3>
    <p>Please wait until you see each file appear before leaving the page.</p>
    <hr />

    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped">
      <tbody class="uploaded-files">

      </tbody>
    </table>
</form>
