<h1>CSV Import</h1>
<div class="alert alert-info">Important Note: Please avoid using Microsoft Excel for CSV editing, imports, or exports. Excel doesn't handle UTF-8 properly.</div>
<%= form_tag({:action => :create}, multipart: true) do %>
  <%= file_field_tag :import_file %>
  <br />
  <%= hidden_field_tag :project_id, params[:project_id]%>
  Priority: <%= select_tag('priority', options_for_select(['low', 'medium', 'high'], 'medium')) %>
  <br /><br />
  <%= button_tag( "Import", type: 'submit', name: 'submit', value: 'import', class: 'btn btn-default btn-sm' ) %>
  <%= button_tag( "Validate", type: 'submit', name: 'submit', value: 'validate', class: 'btn btn-default btn-sm' ) %>
<% end %>
