<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Import Job ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Submitted at</th>
      <th>Submitted by</th>
      <th>Delete?</th>
    </tr>
  </thead>

  <tbody>
    <% @import_jobs.each do |import_job| %>
      <tr>
        <td><%= import_job.id %></td>
        <td><%= link_to import_job.name, import_job_path(import_job) %></td>
        <td><%= import_job.status_string %></td>
        <td><%= import_job.created_at.localtime %></td>
        <td><%= import_job.user.email %></td>
				<td>
					<% if import_job.complete? %>
						<%= link_to('Delete', import_job, method: :delete, data: { confirm: 'Are you sure?' }) %>
					<% else %>
						Job not complete
						<% if current_user.is_admin? %>
							<br /><%= link_to('Force Delete', import_job, method: :delete, data: { confirm: 'Are you sure?' }) %>
						<% end %>
					<% end %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
