<h1>Import Job: <%= @import_job.name %></h1>
<p>
  <strong>Created on: </strong>
  <%= @import_job.created_at.localtime %>
</p>
<p>
  <strong>User:</strong>
  <%=@import_job.user.first_name%> <%=@import_job.user.last_name%></h1>
</p>
<p>
  <strong>Email:</strong>
  <%=@import_job.user.email%></h1>
</p>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Pending rows</th>
      <th>Succesful row imports</th>
      <th>Failed row imports</th>
      <th>Total number of rows</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @count_pending %></td>
        <td><%= @count_success %></td>
        <td><%= @count_failure %></td>
        <td><%= link_to @count_total, import_job_digital_object_imports_path(@import_job) %></td>
      </tr>
  </tbody>
</table>
