<%
  //Passed params:
  //
  //authorizedTerms
  //page
  //moreAvailable
  //currentUserCanAddTerms
  //additionalFieldsForControlledVocabulary
%>

<% if (currentUserCanAddTerms) { %>
  <button class="btn btn-link btn-xs pull-right add_new_authorized_term">Add A New Term +</button>
<% } %>

<%= Hyacinth.DigitalObjectsApp.renderTemplate('digital_objects_app/widgets/authorized_term_selector/_paging.ejs', {page: page, moreAvailable: moreAvailable}) %>

<ul>
  <% if (authorizedTerms.length > 0) { %>
    <% for (var i = 0; i < authorizedTerms.length; i++) { %>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs choose_authorized_term_button"
          data-value="<%= authorizedTerms[i]['value'] ? encodeURIComponent(authorizedTerms[i]['value']) : '' %>"
          data-uri="<%= authorizedTerms[i]['uri'] ?  encodeURIComponent(authorizedTerms[i]['uri']) : '' %>"
          ><%- authorizedTerms[i]['value'] %></button>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" style="padding:.5em 0em;">
            <li><a><strong>URI</strong>: <%- authorizedTerms[i]['uri'] %></a></li>
            <li role="separator" class="divider"></li>
            <% $.each(authorizedTerms[i], function(key, value){ %>
              <% if(key == 'uri') {return;} %>
              <% if(key == 'value') {return;} %>
              <% if(key == 'internal_id') {return;} %>
              <% if(key == 'vocabulary_string_key') {return;} %>
              <%
                if (key == 'type') {
                  display_label = 'Type';
                } else if (key == 'authority') {
                  display_label = 'Authority';
                } else {
                  display_label = additionalFieldsForControlledVocabulary[key] ? additionalFieldsForControlledVocabulary[key]['display_label'] : key
                }
              %>
              <li><a><strong><%- display_label %></strong>: <%- value %></a></li>
            <% }); %>
          </ul>
        </div>
        <%= typeof(authorizedTerms[i]['authority']) == 'undefined' ? '' : ' <span class="label label-info">' + authorizedTerms[i]['authority'] + '</span>'%>
        <%= authorizedTerms[i]['type'] == 'temporary' ? ' <span class="label label-danger">Temporary Term</span>' : '' %>
      </li>
    <% } %>
  <% } else { %>
    <li>No terms found.</li>
  <% } %>
</ul>

<%= Hyacinth.DigitalObjectsApp.renderTemplate('digital_objects_app/widgets/authorized_term_selector/_paging.ejs', {page: page, moreAvailable: moreAvailable}) %>
