<%= form_for(@controlled_vocabulary) do |f| %>
  <% if @controlled_vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@controlled_vocabulary.errors.count, "error") %> prohibited this controlled_vocabulary from being saved:</h2>

      <ul>
      <% @controlled_vocabulary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :string_key, 'String key (cannot be changed)' %><br>
    <%= f.text_field :string_key, {class: 'form-control', disabled: ( ! @controlled_vocabulary.new_record? )} %>
  </div>
  <div class="field">
    <%= f.label :display_label %><br>
    <%= f.text_field :display_label, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= f.label(:require_controlled_vocabulary_manager_permission, (f.check_box(:require_controlled_vocabulary_manager_permission)).html_safe + ' Require Controlled Vocabulary Manager Permission') %>
  </div>

  <div class="actions">
    <%= f.submit('Save', class: 'btn btn-primary') %>
  </div>
<% end %>
