<h1>Controlled Vocabulary: <%= @controlled_vocabulary.display_label %></h1>

<%= form_tag({action: 'authorized_terms'}, {method: 'get'}) do |f| %>
  <div class="input-group">
      <%= text_field_tag :q, params[:q], class: 'form-control input-sm', placeholder: 'Search for a value or URI...' %>
      <div class="input-group-btn">
        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, authorized_terms_controlled_vocabulary_path(@controlled_vocabulary), class: 'btn btn-default btn-sm' %>
        <%= submit_tag 'Search', class: 'btn btn-default btn-sm' %>
      </div>
  </div>
<% end %>
<br />

<% if @authorized_terms.length == 0 %>
  No Authorized Terms found.
<% else %>
  <%= paginate @authorized_terms %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="col-xs-6">Value</th>
        <th class="col-xs-4">Authority</th>
        <th class="col-xs-2"></th>
      </tr>
    </thead>
    <tbody>
      <% @authorized_terms.each do |authorized_term| %>
        <tr>
          <td><%= authorized_term.value %></td>
          <td><%= authorized_term.authority %></td>
          <td class="aligncenter"><%= link_to 'View', authorized_term_path(authorized_term), class: 'btn btn-default btn-xs' %> <%= link_to 'Edit', edit_authorized_term_path(authorized_term), class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @authorized_terms %>
<% end %>
