<h1><%= @controlled_vocabulary.display_label %></h1>

<%= form_tag(terms_controlled_vocabulary_path(@controlled_vocabulary), {method: 'get'}) do |f| %>
  <div class="input-group">
      <%= text_field_tag :q, params[:q], class: 'form-control input-sm', placeholder: 'Search for values...' %>
      <div class="input-group-btn">
        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, controlled_vocabularies_path, class: 'btn btn-default btn-sm' %>
        <%= submit_tag 'Search', class: 'btn btn-default btn-sm', name: nil %>
      </div>
  </div>
<% end %>
<br />

<% if @terms.length == 0 %>
    No Terms found.
<% else %>

  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="col-xs-5">Value</th>
        <th class="col-xs-2">URI</th>
        <th class="col-xs-2"></th>
      </tr>
    </thead>
    <tbody>
      <% @terms.each do |term| %>
        <tr>
          <td><%= term['value'] %></td>
          <td><%= term['uri'] %></td>
          <td class="aligncenter"><%= link_to 'View', term_path(term['uri']), class: 'btn btn-default btn-xs' %> <%= link_to 'Edit', edit_term_path(term['uri']), class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>