<!DOCTYPE html>
<html>
  <head>
    <title>Hyacinth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="alert-container">
      <% if ! notice.blank? %><div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><%= notice %></div><% end %>
      <% if ! alert.blank? %><div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><%= alert %></div><% end %>
    </div>
    <%= yield %>
  </body>
</html>
