<!DOCTYPE html>
<html>
  <head>
    <title>Hyacinth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <div id="alert-container">
      <% if ! notice.blank? %><div class="alert alert-info alert-dismissible fade show text-center" role="alert"><%= notice %></div><% end %>
      <% if ! alert.blank? %><div class="alert alert-danger alert-dismissible fade show text-center" role="alert""><%= alert %></div><% end %>
    </div>
    <%= yield %>
  </body>
</html>
