<!DOCTYPE html>
<html>
  <head>
    <title>Hyacinth</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="<%= image_path('favicon.png') %>" type="image/png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # stylesheet_pack_tag is available as long as javascript_pack_tag includes at least one css file %>
    <%= stylesheet_packs_with_chunks_tag 'hyacinth_v1' %>
  </head>
  <body class="hyacinth-ui-v1" data-hyacinth-version="<%= Hyacinth::Application.version %>">
    <%= yield %>
    <%= javascript_packs_with_chunks_tag 'hyacinth_v1' %>
  </body>
</html>
