<!DOCTYPE html>
<html>
  <head>
    <title>Hyacinth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body class="login">
    <div id="login-alert-container" class="container">
      <% if ! notice.blank? %><div class="alert alert-info alert-dismissible fade show text-center" role="alert"><%= notice %></div><% end %>
      <% if ! alert.blank? %><div class="alert alert-danger alert-dismissible fade show text-center" role="alert""><%= alert %></div><% end %>
    </div>
    <%= yield %>
  </body>
</html>
